////
// Variables and Mixins for generating font-size declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': rem(14),
  1: rem(10),
  2: rem(12),
  3: rem(14),
  4: rem(16),
  5: rem(20),
  6: rem(24),
  7: rem(34),
  8: rem(45),
  9: rem(56),
  10: rem(112)
);

// Allow consumers to define their own options
$font-size-opts: () !default;

// merge in the default options
$font-size-opts: map-merge($DEFAULT_OPTS, $font-size-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: fsz (font-size)
// @param {String} $key - one of the keys in $font-size-opts
// @returns a font-size declaration
////
@mixin fsz($key: 'default') {
  font-size: get($font-size-opts, $key, 'fsz mixin');
}
