////
// Variables and Mixins for generating font-size declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': rem(14),
  9: rem(9),
  10: rem(10),
  12: rem(12),
  14: rem(14),
  16: rem(16),
  20: rem(20),
  24: rem(24),
  34: rem(34),
  45: rem(45),
  56: rem(56),
  112: rem(112)
);

// merge in the default options
$font-size-opts: map-merge($DEFAULT_OPTS, $font-size-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: fsz (font-size)
// @param {String} $key - one of the keys in $font-size-opts
// @returns a font-size declaration
////
@mixin fsz($key: 'default') {
  font-size: get($font-size-opts, $key, 'fsz mixin');
}
