////
// Variables and Mixins for generating font-weight declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': normal,
  'normal': normal,
  'bold': bold,
  1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900
);

// merge in the default options
$font-weight-opts: map-merge($DEFAULT_OPTS, $font-weight-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: fw
// @param {String} $key - one of the keys in $font-weight-scale
// @returns a font-weight declaration
////
@mixin fw($key: 'default') {
  font-weight: get($font-weight-opts, $key, 'fw mixin');
}
