////
// Variables and Mixins for generating letter-spacing declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': normal,
  1: -0.01em,
  2: -0.005em,
  3: normal,
  4: 0.005em,
  5: 0.01em,
  6: 0.02em
);

// merge in the default options
$kerning-scale: map-merge($DEFAULT_OPTS, $kerning-scale);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: kerning
// @param {String} $key - one of the keys in $kerning-scale
// @returns a letter-spacing declaration
////
@mixin kerning($key: 'default') {
  letter-spacing: get($kerning-scale, $key, 'kerning mixin');
}
