////
// Variables and Mixins for generating line-height declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': 1.25em,
  1: 1em,
  2: 1.0667em,
  3: 1.1765em,
  4: 1.25em,
  5: 1.3333em,
  6: 1.5em,
  7: 1.75em
);

// Allow consumers to define their own options
$line-height-opts: () !default;

// merge in the default options
$line-height-opts: map-merge($DEFAULT_OPTS, $line-height-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: lh
// @param {String} $key - one of the keys in $line-height-opts
// @returns a line-height declaration
////
@mixin lh($key: 'default') {
  line-height: get($line-height-opts, $key, 'lh mixin');
}
