////
// Variables and Mixins for generating text-decoration declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': none,
  'underline': underline,
  'strike': line-through
);

// Allow consumers to define their own options
$text-decoration-opts: () !default;

// merge in the default options
$text-decoration-opts: map-merge($DEFAULT_OPTS, $text-decoration-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: td
// @param {String} $key - one of the keys in $text-decoration-opts
// @returns a text-decoration declaration
////
@mixin td($key: 'default') {
  text-decoration: get($text-decoration-opts, $key, 'td mixin');
}
