////
// Variables and Mixins for generating text-align declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': left,
  'left': left,
  'right': right,
  'center': center,
  'justify': justify
);

// Allow consumers to define their own options
$text-align-opts: () !default;

// merge in the default options
$text-align-opts: map-merge($DEFAULT_OPTS, $text-align-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ta
// @param {String} $key - one of the keys in $text-align-opts
// @returns a line-height declaration
////
@mixin ta($key: 'default') {
  text-align: get($text-align-opts, $key, 'ta mixin');
}
