////
// Variables and Mixins for generating text-transform declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': none,
  'upper': uppercase,
  'lower': lowercase,
  'capital': capitalize
);

// Allow consumers to define their own options
$text-transform-opts: () !default;

// merge in the default options
$text-transform-opts: map-merge($DEFAULT_OPTS, $text-transform-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: tt
// @param {String} $key - one of the keys in $text-transform-opts
// @returns a text-transform declaration
////
@mixin tt($key: 'default') {
  text-transform: get($text-transform-opts, $key, 'tt mixin');
}
