////
// Variables and Mixin for generating typography styles
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================

$typography-sets: (
  'default': ('size': rem(14), 'weight': 400, 'lineHeight': 1.25em, 'kerning': 0.01em),
  'headline': ('size': rem(24), 'weight': 400, 'lineHeight': 1.3333em, 'kerning': 'normal'),
  'title': ('size': rem(20), 'weight': 500, 'lineHeight': 1.25em, 'kerning': 0.005em),
  'subheadline': ('size': rem(16), 'weight': 400, 'lineHeight': 1.75em, 'kerning': 0.01em),
  'copy': ('size': rem(14), 'weight': 400, 'lineHeight': 1.25em, 'kerning': 0.01em),
  'caption': ('size': rem(12), 'weight': 400, 'lineHeight': 1em, 'kerning': 0.02em)
) !default;

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: text
// @param {String} $style - one of the keys in $text-opts
// @param {String} $color - (Optional) won't include a color declaration if omitted
// @param {String} $family - (Optional) won't include a font-family declaration if omitted
// @returns size, weight, line-height, and letter-spacing declarations for a specific text style
////
@mixin text($style: 'default', $color: null, $family: null) {
  $style: get($text-opts, $style, 'text mixin');
  @if $family {
    font-family: $family;
  }
  @if $color {
    color: $color;
  }
  font-size: get($style, 'size');
  font-weight: get($style, 'weight');
  line-height: get($style, 'lineHeight');
  letter-spacing: get($style, 'kerning');
}

////
// Mixin: indent - Book paragraph style
// @credit https://github.com/tachyons-css/tachyons
////
@mixin indent {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 1em;
}

////
// Mixin: truncate - Truncate text with an ellipsis (...)
////
@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

////
// Mixin: code - Code snippets
// @credit https://github.com/tachyons-css/tachyons
////
@mixin code {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
}
