////
// Variables and Mixin for generating typesets
// @group Atoms/Typography
////

// Map of the Material Design typesets
// @link https://material.io/guidelines/style/typography.html
$MATERIAL_TYPESETS: (
  'display4':
    (
      'color': color('black', 'lighten-1'),
      'size': rem(112),
      'weight': 300,
      'line-height': 1.0667em,
      'kerning': -0.01em
    ),
  'display3':
    (
      'color': color('black', 'lighten-1'),
      'size': rem(56),
      'weight': 400,
      'line-height': 1.0667em,
      'kerning': -0.005em
    ),
  'display2':
    (
      'color': color('black', 'lighten-1'),
      'size': rem(45),
      'weight': 400,
      'line-height': 1.0667em,
      'kerning': normal
    ),
  'display1':
    (
      'color': color('black', 'lighten-1'),
      'size': rem(34),
      'weight': 400,
      'line-height': 1.1765em,
      'kerning': normal
    ),
  'headline':
    (
      'color': color('black', 'base'),
      'size': rem(24),
      'weight': 400,
      'line-height': 1.3333em,
      'kerning': normal
    ),
  'title':
    (
      'color': color('black', 'base'),
      'size': rem(20),
      'weight': 500,
      'line-height': 1.25em,
      'kerning': 0.005em
    ),
  'subheading':
    (
      'color': color('black', 'base'),
      'size': rem(16),
      'weight': 400,
      'line-height': 1.75em,
      'kerning': 0.01em
    ),
  'body2':
    (
      'color': color('black', 'base'),
      'size': rem(14),
      'weight': 500,
      'line-height': 1.75em,
      'kerning': 0.01em
    ),
  'body1':
    (
      'color': color('black', 'base'),
      'size': rem(14),
      'weight': 400,
      'line-height': 1.5em,
      'kerning': 0.01em
    ),
  'caption':
    (
      'color': color('black', 'lighten-1'),
      'size': rem(12),
      'weight': 400,
      'line-height': 1em,
      'kerning': 0.02em
    ),
  'button':
    (
      'color': color('black', 'base'),
      'size': rem(14),
      'weight': 500,
      'line-height': 1em,
      'kerning': 0.01em
    )
);

////
// $typesets - Map of typeset options
// Typesets require the following key/value pairs
// - size
// - weight
// - line-height
// - kerning (letter-spacing)
// Optionally you can set a color key/value as well
// @example Define and add a typeset to $typesets
// $my-typeset: (
//   'color': color('black', 'base'),
//   'size': rem(14),
//   'weight': 'normal',
//   'line-height': 1.1em,
//   'kerning': 'normal'
// )
// $typesets: map-merge($typesets, ('my-typeset': $my-typeset));
// $my-set can now be accessed by calling:
// `@include typeset('my-typeset')`
////
$typesets: () !default;

// merge in the default typesets
$typesets: map-merge($MATERIAL_TYPESETS, $typesets);

// =================================================================================================
// Mixins
// =================================================================================================

////
// Mixin: typeset. Returns the styles for a specific typeset
// @param {String} $style - the name of the typeset (e.g. body1, display4, etc.)
// @param {String} $color - color value (defaults to the recommended color from the spec)
// @param {String} $font-family - font-family to use (if you need something other than the default)
////
@mixin typeset($style, $color: null, $font-family: null) {
  $typeset: get($typesets, $style, 'typeset mixin');
  @if $font-family {
    font-family: $font-family;
  }
  @if $color {
    @if map-has-key($typeset, $color) {
      color: get($typeset, 'color');
    } @else {
      color: $color;
    }
  }
  @if $style == 'button' {
    text-transform: uppercase;
  }
  font-size: get($typeset, 'size');
  font-weight: get($typeset, 'weight');
  line-height: get($typeset, 'line-height');
  letter-spacing: get($typeset, 'kerning');
}

////
// Mixin: indent - Book paragraph style
// @credit https://github.com/tachyons-css/tachyons
////
@mixin indent {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 1em;
}

////
// Mixin: truncate - Truncate text with an ellipsis (...)
////
@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

////
// Mixin: code - Code snippets
////
@mixin code {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
}
