////
// Variables and Mixins for generating vertical-align declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': middle,
  'middle': middle,
  'top': top,
  'bottom': bottom,
  'baseline': baseline
);

// merge in the default options
$vertical-align-opts: map-merge($DEFAULT_OPTS, $vertical-align-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ws
// @param {String} $key - one of the keys in $vertical-align-opts
// @returns a vertical-align declaration
////
@mixin va($key: 'default') {
  vertical-align: get($vertical-align-opts, $key, 'va mixin');
}
