////
// Variables and Mixins for generating font-size declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================

$white-space-opts: (
  'default': 'normal',
  'nowrap': 'nowrap',
  'pre': 'pre'
) !default;

// .word-normal { word-break: normal; }
// .word-wrap { word-break: break-all; }
// .word-nowrap { word-break: keep-all; }

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ws
// @param {String} $key - one of the kyes in $white-space-opts
// @returns a white-space declaration
////
@mixin ws($key: 'default') {
  white-space: get($white-space-opts, $key, 'ws mixin');
}
