////
// Variables and Mixins for generating font-size declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_WHITESPACE_OPTS: (
  'default': normal,
  'nowrap': nowrap,
  'pre': pre
);
$DEFAULT_WORD_BREAK_OPTS: (
  'default': normal,
  'break-all': break-all,
  'keep-all': keep-all
);

// Allow consumers to define their own options
$white-space-opts: () !default;
$word-break-opts: () !default;

// merge in the default options
$white-space-opts: map-merge($DEFAULT_WHITESPACE_OPTS, $white-space-opts);
$word-break-opts: map-merge($DEFAULT_WORD_BREAK_OPTS, $word-break-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ws
// @param {String} $key - one of the kyes in $white-space-opts
// @returns a white-space declaration
////
@mixin ws($key: 'default') {
  white-space: get($white-space-opts, $key, 'ws mixin');
}

////
// Mixin: wb
// @param {String} $key - one of the kyes in $word-break-opts
// @returns a white-space declaration
////
@mixin wb($key: 'default') {
  word-break: get($word-break-opts, $key, 'wb mixin');
}
