////
// Variables and Mixins for generating font-family declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAUlT_FAMILIES: (
  'serif': (georgia, times, 'times new roman', serif),
  'sans-serif': ('helvetica neue', helvetica, ubuntu, roboto, arial, sans-serif),
  'monospace': (Consolas, monaco, monospace),
  'courier': ('Courier Next', courier, monospace),
  'helvetica': ('helvetica neue', helvetica, sans-serif),
  'roboto': ('Roboto', sans-serif),
  'georgia': (georgia, serif),
  'times': (times, 'times new roman', serif)
);

// merge in the default font-families
$font-families: map-merge($DEFAUlT_FAMILIES, $font-families);
// merge in the theme font-families
$font-families: map-merge(
  (
    'default': get($DEFAUlT_FAMILIES, 'sans-serif'),
    'theme-primary': get($DEFAUlT_FAMILIES, $primary-font-family),
    'theme-accent': get($DEFAUlT_FAMILIES, $primary-font-family),
    'theme-code': get($DEFAUlT_FAMILIES, $primary-font-family)
  ),
  $font-families
);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ff (font-family)
// @param {String} $key - one of the keys in $font-family-sets
// @returns a font-family declaration
////
@mixin ff($key: 'default') {
  font-family: get($font-families, $key, 'ff mixin');
}
