////
// Variables and Mixins for generating font-family declarations
// @group Atoms/Typography
////

// ============================================================================
// Variables
// ============================================================================
$DEFAUlT_FAMILIES: (
  'serif': (georgia, times, 'times new roman', serif),
  'sans-serif': ('helvetica neue', helvetica, ubuntu, roboto, arial, sans-serif),
  'monospace': (Consolas, monaco, monospace),
  'courier': ('Courier Next', courier, monospace),
  'helvetica': ('helvetica neue', helvetica, sans-serif),
  'roboto': ('Roboto', sans-serif),
  'georgia': (georgia, serif),
  'times': (times, 'times new roman', serif)
);

////
// $font-families - Map of font-family lists
// @example Define and add a font-family to $font-families
// $my-font-family: ('PT Sans', arial, sans-serif)
// $font-families: map-merge($color-palettes, ('my-font-family': $my-font-family));
// $my-font-familiy can now be accessed by calling:
// `@include ff('my-font-family')`
////
$font-families: () !default;

// set the theme defaults
$primary-font-family: 'roboto' !default;
$accent-font-family: 'georgia' !default;
$code-font-family: 'monospace' !default;

// merge in the default font-families
$font-families: map-merge($DEFAUlT_FAMILIES, $font-families);
$font-families: map-merge(
  (
    'default': get($DEFAUlT_FAMILIES, 'sans-serif'),
    'theme-primary': get($DEFAUlT_FAMILIES, $primary-font-family),
    'theme-accent': get($DEFAUlT_FAMILIES, $primary-font-family),
    'theme-code': get($DEFAUlT_FAMILIES, $primary-font-family)
  ),
  $font-families
);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ff (font-family)
// @param {String} $key - one of the keys in $font-family-sets
// @returns a font-family declaration
////
@mixin ff($key: 'default') {
  font-family: get($font-families, $key, 'ff mixin');
}
