////
// Variables and Mixin for generating aspect ratio declarations
// @group Atoms/Layout
// @credit https://github.com/tachyons-css/tachyons
//
// ============================================================================
// @example
// ```
//   <div class="foo">
//     <iframe class="bar"></iframe>
//   </div>
// ```
// ```
//   .foo {
//     @include ar-parent('16x9');
//   }
//   .bar {
//     @include ar-child;
//   }
// ```
// ============================================================================
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: (
  'default': 100%,
  '16x9': 56.25%,
  '9x16': 177.77%,
  '4x3': 75%,
  '3x4': 133.33%,
  '6x4': 66.6%,
  '4x6': 150%,
  '8x5': 62.5%,
  '5x8': 160%,
  '7x5': 71.42%,
  '5x7': 140%,
  'square': 100%
);

// Allow consumers to define their own options
$aspect-ratios: () !default;

// merge in the default options
$aspect-ratios: map-merge($DEFAULT_OPTS, $aspect-ratios);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: ar-parent
// @param {String or Number} $key - a key in $aspect-ratio-opts
// @returns declarations for the aspect-ratio parent element
////
@mixin ar-parent($key) {
  position: relative;
  height: 0;
  padding-bottom: get($aspect-ratios, $key, 'ar-wrapper mixin');
}

////
// Mixin: ar-child
// @returns declarations for the aspect ratio child element
////
@mixin ar-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
}
