////
// Variables and Mixins for generating padding declarations
// @group Atoms/Layout
////

// ============================================================================
// Variables
// ============================================================================
$DEFAULT_OPTS: map-merge(('default': initial, 'auto': auto), $DEFAULT_SIZES);

// merge in the default options
$padding-opts: map-merge($DEFAULT_OPTS, $padding-opts);

// ============================================================================
// Mixins
// ============================================================================

////
// Mixin: pa - sets paddings for all directions
// @param {List} $keys - one or more keys in $padding-opts
// @examples `@include pa(8,8,4,8)`, `@include pa(4)`
// @returns a padding declaration
////
@mixin pa($keys...) {
  $values: ();
  @each $key in $keys {
    $value: if(map-has-key($padding-opts, $key), get($padding-opts, $key, 'pa mixin'), $key);
    $values: append($values, $value);
  }
  padding: $values;
}

////
// Mixin: pv - sets paddings for vertical directions
// @param {Number} $top - a key in $padding-opts (defaults to 0)
// @param {Number} $bottom - a key in $padding-opts (defaults to value of $top)
// @examples `@include pv(4,2)`, `@include pv(24)`
// @returns padding-top and padding-bottom declarations
////
@mixin pv($top: 0, $bottom: null) {
  @if $bottom {
    padding-bottom: if(
      map-has-key($padding-opts, $bottom),
      get($padding-opts, $bottom, 'pv mixin'),
      $bottom
    );
  } @else {
    padding-bottom: if(
      map-has-key($padding-opts, $top),
      get($padding-opts, $top, 'pv mixin'),
      $top
    );
  }
  padding-top: if(map-has-key($padding-opts, $top), get($padding-opts, $top, 'pv mixin'), $top);
}

////
// Mixin: ph - sets paddings for horizontal directions
// @param {Number} $left - a key in $padding-opts (defaults to 0)
// @param {Number} $right - a key in $padding-opts (defaults to value of $left)
// @examples `@include ph(2,4)`, `@include ph(16)`
// @returns padding-left and padding-right declarations
////
@mixin ph($left: 0, $right: null) {
  @if $right {
    padding-right: if(
      map-has-key($padding-opts, $right),
      get($padding-opts, $right, 'ph mixin'),
      $right
    );
  } @else {
    padding-right: if(
      map-has-key($padding-opts, $left),
      get($padding-opts, $left, 'ph mixin'),
      $left
    );
  }
  padding-left: if(map-has-key($padding-opts, $left), get($padding-opts, $left, 'ph mixin'), $left);
}

////
// Mixin: pt - sets top padding
// @param {Number} $key - a key in $padding-opts (defaults to 0)
// @returns a padding-top declaration
////
@mixin pt($key: 0) {
  padding-top: if(map-has-key($padding-opts, $key), get($padding-opts, $key, 'pt mixin'), $key);
}

////
// Mixin: pr - sets right padding
// @param {Number} $key - a key in $padding-opts (defaults to 0)
// @returns a padding-right declaration
////
@mixin pr($key: 0) {
  padding-right: if(map-has-key($padding-opts, $key), get($padding-opts, $key, 'pr mixin'), $key);
}

////
// Mixin: pb - sets bottom padding
// @param {Number} $key - a key in $padding-opts (defaults to 0)
// @returns a padding-bottom declaration
////
@mixin pb($key: 0) {
  padding-bottom: if(map-has-key($padding-opts, $key), get($padding-opts, $key, 'pb mixin'), $key);
}

////
// Mixin: pl - sets left padding
// @param {Number} $key - a key in $padding-opts (defaults to 0)
// @returns a padding-left declaration
////
@mixin pl($key: 0) {
  padding-left: if(map-has-key($padding-opts, $key), get($padding-opts, $key, 'pl mixin'), $key);
}
